
.false-month {
    border-style: none;
    border-radius: 3px;
    height: 30px;
    width: 75px;
    position: absolute;
    background-color: transparent;
    margin-left: -73px;
    margin-top: -2px;
}
.monthDropDown {
    position: absolute;
    background-color: white;
    max-height: 100px;
    overflow: scroll;
}
li {
    list-style: none;
}
.li-item:hover {
    background-color: plum;
}
