@media (min-width: 320px) {
    .contact .delete-storage {
        justify-content: center;
        margin-left: 250px;
    }
    .contact .sec-form-wrap {
        margin-top: 0;
    }
    .contact .multi-form section, .contact .multi-form div {
        margin-top: 5px;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

}

@media (min-width: 600px) {
    .contact .delete-storage {
        justify-content: flex-end;
        margin-left: 0px
    }
    .contact .save-section {
        margin: 0px 120px 0px 0px;
    }
    .contact .multi-form {
        margin-top: 15px;
    }
    
    .contact .delete-storage button {
        margin-right: 145px;
    }
}