* {
    padding: 5px;
}
.cover img {
    height: 280px;
    padding: 0;
}
h1 {
    font-family: overpass black;
    font-size: 48px;
}
p {
    font-family: overpass thin;
    font-size: 18px;
}
.smallp {
    font-size: 12px;
}
#try-btn {
    padding: 10px;
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-family: overpass black;
}