.home-main {
    text-align: center;
}
.cover img {
    height: 280px;
    padding: 0;
}
.smallp {
    font-size: 12px;
}
#try-btn {
    padding: 10px;
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-family: overpass black;
}