@media (min-width: 320px) {
    #btn-lbl {
        position: absolute;
        margin-left: -5px;
        margin-top: -5px;
        cursor: pointer;
    }
    .fa-grin, .fa-dizzy {
        font-size: 100px;
        position: relative;
    }
    #btn-layer {
        position: absolute;
        margin-left: -212px;
        margin-top: -2px;
        width: 200px;
        height: 25px;
    }
    #avatar-display {
        padding: 0px 5px 0px 5px;
        border: none;
        background-color: transparent;
        border-color: black;
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
    
    .photo .delete-storage button{
    margin-right: 38px;
    }
    .blank-avatar {
        padding: 0;
        margin: 0;
        border: black;
        background-color: white;
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
    .no-photo {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }
    .no-photo input {
        margin-right: 10px;
        transform: scale(1.5);
    }
}
@media (min-width: 600px) {
    #btn-lbl {
        position: absolute;
        margin-left: -5px;
        margin-top: -5px;
        cursor: pointer;
    }
    .fa-grin, .fa-dizzy {
        font-size: 100px;
        position: relative;
    }
    #btn-layer {
        position: absolute;
        margin-left: -412px;
        margin-top: -2px;
        width: 400px;
        height: 35px;
    }
    #avatar-display {
        padding: 0px 5px 0px 5px;
        border: none;
        background-color: transparent;
        border-color: black;
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
    
    .photo .delete-storage button{
    margin-right: 38px;
    }
    .blank-avatar {
        padding: 0;
        margin: 0;
        border: black;
        background-color: white;
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
    .no-photo {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }
    .no-photo input {
        margin-right: 10px;
        transform: scale(1.5);
    }
}