#btn-lbl {
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
}
.fa-user-circle {
    font-size: 100px;
    position: relative;
}
#btn-layer {
    position: absolute;
    margin-left: -300px;
    margin-top: -2px;
    width: 285px;
    height: 23px;
}
#avatar-display {
    border: solid;
    background-color: black;
    border-color: black;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

#test {
    width: 200px;
    min-height: 200px;
    border-style: dotted;
}