.header * {
    margin: 0;
    padding: 0;
    font-family: overpass regular;
    font-size: 18px;
}
.header {
    height: 60px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
