* {
    padding: 5px;
}
section, div {
    padding-top: 0;
    padding-bottom: 0;
}
.home-build {
    min-width: 750px;
    min-height: 500px;
    max-height: 600px;
    display: flex;
  }
.sidebar {
    display: flex;
    justify-content: center;
    height: 500px;
    min-width: 230px;
    margin-top: 50px;
}
.home-build .section-wrap {
    min-width: 500px;
    max-width: 1200px;
    height: 500px;
}
h1 {
    font-family: overpass black;
    font-size: 40px;
}
p {
    font-family: overpass thin;
    font-size: 18px;
}
/* each child section wrapper */
.cv-sec-wrap {
    border-radius: 3px;
    display: flex;
    min-width: 600px;
    height: 500px;
    margin-top: 20px;
}
.cv-section {
    max-height: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.cv-header {
    display: flex;
    align-items: center;
}
.cv-section h1 {
    font-size: 36px;
    padding-bottom: 0px;
}
.cv-section i.fa-question-circle {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.253);
}
.fa-window-minimize {
    padding: 0;
    margin: 0;
    margin-top: -6px;
    font-size: 12px;
}
.fa-plus {
    padding: 0;
    margin: 0;
    margin-top: 0px;
    font-size: 16px;
}

.sec-form-wrap {
    display: flex;
    align-items: center;
}

.help-btn {
    border-style: none;
    background-color: transparent;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rect-std {
    width: 400px;
    height: 35px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-overflow: ellipsis;
    padding: 2px;
}
.rect-std:focus, .rect-long:focus, .rect-date:focus {
    outline: none;
    background-color: rgba(130, 156, 208, 0.123)
}
.input-std-div {
    border-radius: 5px;
    margin: 0 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 395px;
    height: 40px;
}
.textarea-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 395px;
    max-height: 125px;
}
.rect-long {
    max-width: 450px;
    width: 395px;
    line-height: 24px;
    overflow: auto;
    height: auto;
    max-height: 125px;
    text-justify: start;
    font-size: 16px;
    text-overflow: ellipsis;
}
.date-div {
    margin: 10px 0px;
}
.date-div p{
    font-size: 14px;
}
.rect-date {
    text-align: center;
    margin: 0 0 0px 0;
    height: 15px;
}
.rect-date.month{
    width: 70px;
    caret-color: transparent;
}
.rect-date.year{
    width: 40px;
}
.edit-btn, .add-btn {
    background-color: transparent;
    border-style: none;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.multi-form {
    display: flex;
    flex-direction: column;
}
.multi-form div {
    display: flex;
    flex-direction: row;
}
#form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.textarea-std {
    min-width: 288px;
    max-width: 288px;
    height: 75px;
    max-height: 125px;
    text-justify: start;
    margin: 0 0 5px 0;
}
.mult-form div, .mult-form section {
    padding: 0px;
}
.save-section-wrap {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 30px;
    min-width: 500px;
    max-width: 500px;
}
.save-section {
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
.save-button {
    border-style: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: 8px;
    height: 30px;
    width: 60px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}
.save-button:disabled {
    display: none;
}
.save-message {
    font-size: 12px;
    padding: 0 15px 0 15px;
}
.delete-storage {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}
.delete-storage button, .expand-preview button {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
}
.preview-data {
    padding: 5px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
}
.preview-data li, .preview-data div {
    padding: 0px 0px;
}
li .preview-item {
    display: flex;
    flex-direction: column;
}
.preview-item li {
    display: flex;
    align-items: center;
    
}
.preview-item h3 {
    font-family: overpass thin;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: normal
}
.expand-duties {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.prev-duty {
    font-size: 12px;
    padding: 0px;
    margin: 0;
}
.expandable {
    margin-top: 0px;
    padding-top: 0px;
}
.view .section-wrap {
    display: flex;
    justify-content: center;
}
.view-error {
    margin-top: 100px;
    font-size: 14px;
    color: #bd0000;
}