.cvnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}
.cvnav h6 {
    font-family: overpass light;
    font-size: 24px;
    letter-spacing: 1.5px;
}
.cvnav a {
    font-size: 18px;
    color: black;
    font-family: overpass thin;
    letter-spacing: 1.5px;
    padding: 7.5px;
    text-decoration: none;
}
.cvnav a:visited {
    color: black;
}
