@media (min-width: 320px) {

    .cvnav {
        display: flex;
        flex-direction: column;
    }
    .navlinks-wrap.mobile {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 300px;
    }
    #create-nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sections-header {
        font-size: 20px;
    }
    .cvnav a {
        flex-grow: 1;
        max-width: 150px;
        font-size: 15px;
        margin: 3px;
        padding: 5px 5px;
        color: #829CD0;
        font-family: overpass regular;
        letter-spacing: 1.5px;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 0.5px 0 0 #ffffff inset, 0 0.45px 1px 0 #B3B3B3;
        z-index: 2;
    }

    #view-btn {
        position: relative;
        border-style: none;
        border-radius: 3px;
        background-color: #829CD0;
        color: white;
        padding: 5px;
        max-width: 80px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        box-shadow: none;
        font-family: overpass bold;
    }

    #view-btn.inactive {
        background-color: rgb(209, 209, 209);
        cursor: default;   
    }
}
@media (min-width: 600px) {
    .cvnav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
        box-shadow: rgba(17, 17, 26, 0.1) 1px 0px 1px;
        padding: 0 px;
        border-radius: 3px;
    }
    .navlinks-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .cvnav h6 {
        font-family: overpass light;
        font-size: 24px;
        letter-spacing: 1.5px;
        margin: 0;
    }
    .cvnav h4 {
        font-family: overpass light;
        font-size: 10px;
        letter-spacing: 0.75px;
    }
    .cvnav h3 {
        font-family: overpass light;
        font-size: 20px;
        letter-spacing: 0.75px;
        padding: 0;
    }
    .cvnav a {
        font-size: 18px;
        color: black;
        font-family: overpass thin;
        letter-spacing: 1.5px;
        padding: 7.5px;
        text-decoration: none;
        border: none;
        box-shadow: none;
    }
    
    .section-incomplete {
        color: #bd0000;
    }
    .section-incomplete:visited {
        color: #bd0000;
    }
    #view-btn {
        position: relative;
        border-style: none;
        border-radius: 3px;
        background-color: #829CD0;
        color: white;
        padding: 5px;
        margin: 10px 10px;
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        max-width: 120px;
    }
    #view-btn h3 {
        font-size: 20px;
        font-family: overpass bold;
    }
    #view-btn.inactive {
        background-color: rgb(209, 209, 209);
        cursor: default;
        
    }
}