
.print-view {
    max-width: 650px;
    background-color: white;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    border-radius: 3px;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
}


