.navbar * {
    text-decoration: none;
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar a {
    padding: 5px;
    width: 90px;
    text-align: center;
    cursor: pointer;
}
.navbar a:visited {
    color: black;
}
#bluea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background: rgba(130, 156, 208, 0.5);
    border-radius: 3px;
    color: white;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 20px;
}
.signout-flag-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 255px;
    margin-top: 80px;
    max-width: 100px;
}

p.signout-flag, .yesnobtn a {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.yesno button, .yesno {
    background-color: white;
    border-style: none;
    cursor: pointer;
    margin: 0px;
}
button.yesnobtn {
    margin: 0;
    padding: 0;
}
.yesnobtn {
    font-size: 14px;
    margin: 0px;
}
a.yesnobtn {
    max-width: 25px;
    margin: 0;
    padding: 0;
}
.yesno {
    padding: 0;
    margin: 0;
    max-height: 50px;
    min-width: 80px;
    display: flex;
    justify-content: space-evenly;
}