.pricing {
    min-width: 750px;
    min-height: 500px;
    max-height: 600px;
    display: flex;
    justify-content: center;
  }
.pricing .section-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    min-width: 750px;
    height: 500px;
}
.pricing h1 {
    font-family: overpass black;
    font-size: 48px;
}
.pricing p {
    font-family: overpass thin;
    font-size: 18px;
}
