@media (min-width: 320px) {
    .skills .form-wrapper {
        display: flex;
        align-items: center;
    }
    .skills .save-section {
        margin-right: 190px;
    }
}

@media (min-width: 600px) {


}