@media (min-width: 320px) {
    .skills .form-wrapper {
        display: flex;
        align-items: center;
    }
    .skills .form-wrapper .input-std-div {
        margin-top: 5px;
    }
    .skills .save-section {
        margin-right: 190px;
    }
    .skills .save-btn-div {
        height: 30px;
    }
}

@media (min-width: 600px) {


}