.signup{
    min-width: 750px;
    min-height: 500px;
    max-height: 600px;
    display: flex;
    justify-content: center;
  }
.signup .section-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 750px;
    height: 500px;
}
.signup-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup h2 {
    font-family: overpass black;
    font-size: 36px;
    margin: 20px 20px 0px -20px;
}
.signup p {
    font-family: overpass thin;
    font-size: 16px;
}
.signup-form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form-submit div {
    display: flex;
    align-items: center;
}
.signup-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px auto;
    height: 30px;
    width: 120px;
    background-color: #829cd0;
    border-radius: 3px;
}
.inactive-div {
    background-color: rgb(209, 209, 209);
}
.signup-btn {
    font-family: overpass black;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.tologin {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.tologin:visited {
    text-decoration: none;
    color: black;
}